In [1]:
print ("hello world")

hello world

In [1]:
head = "Aa"
tail = "Bb"
print (head+tail)

AaBb

In [2]:
print("="*30)

==============================

In [11]:
#슬라이싱, 인덱스
a = "my name is yunhee"
print (a[3])
print (a[-3])
print (a[0:4])
print (a[11:])
print (a[-6:])

n
h
my n
yunhee
yunhee

In [22]:
s = "Apple"
num = 100
print ("블라 %s 블라" %s)
print ("블라 %i 블라" %num)
print ("블라 %s %i 블라" %(s,num))
print ("%d%%" %95)
print ("%10s" %"hi")
print ("%-10s hi" % "hello")
print ("%0.4f" %3.1458124156)
print ("%10.4f" %3.1415603503)

블라 Apple 블라
블라 100 블라
블라 Apple 100 블라
95%
        hi
hello      hi
3.1458
    3.1416

In [25]:
s = "hello"
s.count("l")

2

In [26]:
s = "hello"
s.index("e")

1

In [27]:
#빈출
a ="."
a.join("abcde")

'a.b.c.d.e'

In [29]:
a = "HI"
a.lower()

'hi'

In [31]:
a = '  hi  '
print (a.lstrip().rstrip())
print (a.strip())

hi
hi

In [33]:
a = 'apple grape'
print (a.replace("apple","melon"))
print (a.split())

melon grape
['apple', 'grape']

In [34]:
b ="2016:12:31:Rainy"
print (b.split(":"))

['2016', '12', '31', 'Rainy']

In [35]:
print (len(a)*len(b))

176

In [42]:
type("pithon")
type(4.0)

3**4
7%3
7//3
7/3

print ("블라블라",47*8,"블라")

a = [1,2,3]
print (a)
print (a[1])
print (a[-1])

a = [1,2,[3,4]]
print (a[-1])
print (a[-1][-1])

블라블라 376 블라
[1, 2, 3]
2
3
[3, 4]
4

In [44]:
season = ['spring', ['summer',['apple','grope','melon'],'fall'],'winter']
print (season[1][1][1])
# rank shope, axis
#rank : 배열 몇 단 ? / shope[2,2][3,1]// axis
season[:]

grope

['spring', ['summer', ['apple', 'grope', 'melon'], 'fall'], 'winter']

In [45]:
a = [1,2,3,4,5,8]

if 4 in a:
    print ("응 있어")

응 있어

In [51]:
a.append(77)
a.sort()
a.reverse()
print (a)
a.index(8)
a.remove(3)
a.pop
a.count(77)
a.extend([999,9999])

[77, 77, 77, 77, 77, 77, 8, 5, 4, 3, 2, 1]
6

In [52]:
# Array 관련 함수들
[1,2,3,4]
# tuple 관련 함수들
c = (1,2,3,4)

s = "hello"
t = tuple(s)
print (t)

('h', 'e', 'l', 'l', 'o')

In [57]:
dic = {'key1':'value1','key2':'value2','key3':'value3'}
dic['key4'] = 'value' # 추가
del dic['key2'] #삭제
print (dic['key1'])
dic.key() # 키 값 가져오기
dic.value # 값 가져오기
dic.item()
dic.clear() # 딕셔너리 초기화

dic.get('key1')
dic.get('ket1', '없습니다.') # 2번째 인자는 없을 때 출력 할 값
dic['key1']

value1

In [59]:
a = {"커피":1000,"빵":2000,"고구마":2500,"김":3000}

# 새로운 메뉴 오징어가 3천원에 추가 되고
a["오징어"] = 3000
# 고객이 오징어 2개랑 김 1개 주문 했어요
# 전체 가격 총ㅎ바을 알려주는 거예요.
val = a["오징어"]*2 + a["김"]
print (val)

9000

In [66]:
# Set 집합 - 중복 X 손서 X (인덱싱, 슬라이싱 X)
list = [1,1,1,5,9,6,3]
a = set(list)

list2 = [1,6,8,5,19,6,3]
b = set(list2)

print (a&b)
print (a.intersection(b))
print (len(a&b))

print (a|b)
print (a.union(b))
print (len(a|b))

print (a-b)
print (b-a)
print (a.difference(b))

a.add(999)
a.update([66,77,88]) # set update
a.remove(77) #set 삭제
print (a)

{1, 3, 5, 6}
{1, 3, 5, 6}
4
{1, 3, 5, 6, 8, 9, 19}
{1, 3, 5, 6, 8, 9, 19}
7
{9}
{8, 19}
{9}
{1, 66, 3, 5, 6, 999, 9, 88}

In [73]:
if []:
    print ("A")
else:
    print ("B")
    
a = [1,2,3,4]
while a:
    print (a.pop())
    
a = 3
b = 3
print (a is b)

a,b = (3,3)
c,d = [4,4]
e=f=5
print (a,b,c,d,e,f)

a = [1,2,3]
b = a # 같은 배열 쳐다보고 있음
c = a[:] # 다른 배열 쳐다보고 있음
a[1] = 5
print (b)
print (c)
print (d)

B
4
3
2
1
True
3 3 4 4 5 5
[1, 5, 3]
[1, 2, 3]
4

In [74]:
if 1:
    print ("a")
else:
    print ("b")

a

In [77]:
if 1 in [1,2,3,4]:
    pass # 아무것도 안함
else:
    print ("B")
    
# 입력 받기
a = input("이름을 입력해 주세요.")
print (a)

이름을 입력해 주세요.올
올

In [91]:
# 1. 사용자 나이를 입력 받아서 나이가 30 이쌍이면'adult' 미만이면 child를 출력하시오
age = input("나이를 입력해 주세요 : ")
age = int(age)
if (age >= 30):
    print ("adult")
else:
    print ("child")
    
# 2. 연필 : 1000원, 펜 : 2000원
## 만원이상 구매시 10% 할인해줌
## 구매하고자 하는 연필 수, 펜 수 입력 받아서 최종 금액 출력
pencil = input("연필의 갯수를 입력해 주세요 : ")
pen = input("펜의 갯수를 입력해 주세요 : ")
val = int(pencil)*1000 + int(pen)*2000
if val >= 10000:
    val = val-(val/10)
print (val)
# 3. 성적이 90점 이상이면 A, 80점 이사ㅇ이면 B, 70점 이상이면 C
## 나머지는 F
## - 성적을 입력 받아서 학점을 알려주시오
## - 입력값은 "이름|성적"으로 입력 받음 ex. "민종현|89 출력 : B
grade = input("이름과 성적을 '|' 넣어 입력하시오 : ")
grade = grade.split("|")
grade = int(grade[1])
if grade >= 90:
    print ("A")
elif grade >= 80:
    print ("B")
elif grade >= 70:
    print ("C")
else:
    print ("F")

나이를 입력해 주세요 : 22
child
연필의 갯수를 입력해 주세요 : 1
펜의 갯수를 입력해 주세요 : 1
3000
이름과 성적을 '|' 넣어 입력하시오 : 덕화|60
F

In [103]:
# 1. x가 1자리 수인지 2자리 수인지 3자리 수인지 체크하는 프로그램 작성
val = input("값을 입력하시오 : " )
if len(val) >= 2:
    print (val)
else:
    pass

값을 입력하시오 : 33333
33333

In [104]:
count = 1
while count<=5:
    print ("hello")
    count+=1

hello
hello
hello
hello
hello

In [106]:
count = 1
sum = 0
while count <= 100:
    sum = count + sum
    count += 1
print (sum)

5050

In [107]:
a = ['A','B','C','D']
index = 0

while index < len(a):
    print (a[index])
    index += 1

A
B
C
D

In [109]:
input = [90,80,85,75,60]
output = []
for kk in input:
    if kk <82:
        output.append("F")
    else:
        output.append("P")
print (output)

['P', 'F', 'P', 'F', 'F']